In [1]:
from wmb import brain, cemba, mm10
import wmb
from ALLCools.mcds import MCDS
import pandas as pd
import pathlib
import scanpy as sc
from qnorm import quantile_normalize
import numpy as np
import matplotlib.pyplot as plt

In [2]:
meta = pd.read_csv('0523_seurat_metadata.csv', index_col = 0)

var_dim = 'gene'
mc_type = 'CHN'

In [3]:
mcds = MCDS.open(mcds_paths = 'gene_mcds', 
                 use_obs = meta.index, 
                 var_dim = var_dim).sel(mc_type = f'{mc_type}')

In [4]:
mcds.add_mc_frac(
    var_dim = var_dim, 
    normalize_per_cell=True,  # after calculating mC frac, per cell normalize the matrix
    clip_norm_value=10  # clip outlier values above 10 to 10
)

In [5]:
frac_df =mcds['gene_da_frac'].to_pandas()

/home/qz/miniconda3/envs/allcools/lib/python3.7/site-packages/dask/core.py:119: RuntimeWarning: invalid value encountered in true_divide
  return func(*(_execute_task(a, cache) for a in args))

In [7]:
frac_df['cluster'] = meta['seurat_clusters']
cluster_frac_df = frac_df.groupby('cluster').sum().T
cluster_frac_df.to_csv(f'{mc_type}_cluster_mc_frac_matrix.csv')

In [8]:
cluster_frac_df

cluster,0,1,2,3,4,5,6,7,8,9,10
gene,,,,,,,,,,,
AT1G01010,552.798315,317.081487,385.996031,150.014961,158.715891,137.298677,123.453694,89.342030,78.608569,37.005069,19.900450
AT1G01020,653.032206,335.022522,386.451759,171.903763,176.765299,134.752118,113.731837,86.830967,46.075758,47.652414,35.083966
AT1G03987,720.897761,417.541250,422.431843,262.756997,205.285994,168.444355,168.071392,110.244121,63.445443,60.823878,43.950494
AT1G01030,547.868139,345.325577,363.876404,188.594979,162.123217,140.297203,111.454054,58.805635,49.488765,39.983619,29.433047
AT1G01040,552.241567,290.330694,337.207631,174.683735,178.753185,150.468750,120.814776,67.923076,45.050814,35.860529,35.550106
...,...,...,...,...,...,...,...,...,...,...,...
ATCG01270,822.327558,471.405267,467.501243,262.000000,242.046879,194.192397,181.307586,118.728870,78.000000,58.000000,53.293211
ATCG01280,840.651569,466.578661,457.933683,261.091106,233.028610,192.176679,177.532483,119.070922,76.655428,55.059502,50.249188
ATCG01290,826.746178,472.000000,467.617336,261.500535,235.000000,194.464333,182.000000,120.000000,84.937609,58.000000,54.000000
ATCG01300,821.671623,472.000000,471.369797,262.000000,234.364279,194.272624,182.000000,119.699014,78.000000,58.000000,54.000000
ATCG01310,814.431587,472.180764,465.651546,259.055168,233.468271,195.489368,181.247313,126.192126,78.000000,57.322342,53.220975

In [9]:
# norm_mc_data = quantile_normalize(cluster_frac_df)
# log_mc_data = np.log1p(norm_mc_data)

In [10]:
# fig, ax = plt.subplots(figsize=(3, 3), dpi=200)
# ax.imshow(log_mc_data, aspect='auto')

In [11]:
# log_mc_data.to_csv(f'{mc_type}_cluster_mc_frac_matrix.csv')